.crosshair-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  opacity: 100%;
}


.crosshair {
  opacity: 100%;
  width: 0.6vh;
  height: 0.6vh;
}